/*
Theme Name:     Woffice
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

See http://codex.wordpress.org/Right_to_Left_Language_Support
*/

/*
Replace with the block below
i.fa,
*:before{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
i.fa:hover {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}*/

.fa-long-arrow-left:before {
    content: "\f178" !important;
}
.fa-long-arrow-right:before,
.widget.widget_meta ul li::before,
.widget.widget_nav_menu ul li::before{
    content: "\f177" !important;
}
.fa-arrow-left:before {
    content: "\f061" !important;
}
.fa-arrow-right:before {
    content: "\f060" !important;
}
.fa-arrow-circle-o-right:before {
    content: "\f190" !important;
}


th,
.wpcf7-form {
    text-align: right;
}
#navigation {
    left: inherit;
    right: 0;
    -webkit-box-shadow: -2px 0px 5px rgba(0, 0, 0, .05);
    -moz-box-shadow: -2px 0px 5px rgba(0, 0, 0, .05);
    -ms-box-shadow: -2px 0px 5px rgba(0, 0, 0, .05);
    -o-box-shadow: -2px 0px 5px rgba(0, 0, 0, .05);
    box-shadow: -2px 0px 5px rgba(0, 0, 0, .05);
}
.main-menu {
    padding-left: inherit;
    padding-right: 0;
    overflow: initial;
}
.main-menu ul {
    padding-left: inherit;
    padding-right: 0;
}
.main-menu li.menu-item-has-icon > a:before {
    left: inherit;
    right: 0px;
}
.main-menu ul.sub-menu {
    padding-left: inherit;
    padding-right: 0;
    /*
    right: -200px !important;
    left: initial !important;
    */
}
.main-menu ul.sub-menu.display-submenu {
    -webkit-transition: right 0.4s, opacity 1s ease-in-out;
    -moz-transition: right 0.4s, opacity 1s ease-in-out;
    transition: right 0.4s, opacity 1s ease-in-out;
}
.main-menu ul.sub-menu.display-submenu,
.main-menu .mega-menu.open {
    --left: initial !important;
    --right: 100px !important;
}
body.menu-is-horizontal .main-menu li > ul.sub-menu,
body.menu-is-horizontal #navigation .main-menu .mega-menu ul.sub-menu a {
    right: 0 !important;
    left: auto !important;
}
@media only screen and (min-width: 993px) {
    .main-menu ul.sub-menu li:hover > .sub-menu {
        right: 240px !important;
    }
}
/*body.menu-is-vertical .main-menu li > ul.sub-menu,
body.menu-is-vertical #navigation .main-menu .mega-menu ul.sub-menu a {
    right: 0 !important;
    left: auto !important;
}*/
.main-menu ul.sub-menu li a {
    padding: 15px 15px 14px 10px !important;
    text-align: right;
}
.main-menu ul.sub-menu li a:hover,
.main-menu ul.sub-menu li.current-menu-item a,
.main-menu ul.sub-menu li.current_page_item a {
    padding: 15px 15px 14px 10px !important;
}
.main-menu ul.sub-menu li > a:before {
    left: inherit !important;
    right: 0 !important;
}
#navigation .mega-menu > ul.sub-menu:last-child,
#navigation .mega-menu > ul.sub-menu:last-child ul.sub-menu {
    border-right: inherit;
    border-left: 0;
}
#navigation .mega-menu ul.sub-menu li a {
    padding: 15px 15px 14px 10px!important;
}
#navigation ul.sub-menu.mega-menu-row {
    float: right;
    left: inherit !important;
    right: 0 !important;
}
#navigation ul.sub-menu.mega-menu-row .sub-menu li a {
    padding-left: inherit;
    padding-right: 30px;
}
#nav-left {
    border-right: inherit;
    border-left-width: 1px;
    border-left-style: solid;
}
a#nav-trigger {
    right: 0;
    left: inherit;
    width: 69px;
}
#nav-user {
    margin-right: inherit;
    margin-left: 15px;
    left: 0;
    right: auto;
}
#nav-user #user-thumb img {
    margin-left: inherit;
    margin-right: 10px;
}
#user-thumb .notifications {
    right: auto;
    left: 0;
}
#user-close {
    right: auto;
    left: -250px;
    -webkit-transition: left 0.4s, transform 0.4s;
    -moz-transition: left 0.4s, transform 0.4s;
    transition: left 0.4s, transform 0.4s;
}
#nav-user.active #user-close {
    right: auto;
    left: 0;
}
#nav-buttons {
    right: auto;
    left: 0;
}
#nav-languages > a i.fa-angle-down {
    float: left;
}
#nav-languages > a > i.fa-flag {
    padding-right: inherit;
    padding-left: 20px;
}
#nav-languages > ul {
    padding-left: inherit;
    padding-right: 0;
    text-align: right;
}
#navbar.navigation-fixed {
    padding-right: initial;
    padding-left: 0px;
}
#main-header #navbar.navigation-fixed {
    padding-right: 0 !important;
}
#main-search form button {
    right: auto;
    left: 10px;
}
#user-sidebar {
    right: auto;
    left: -50%;
    -webkit-transition: left 0.4s, padding-top 0.4s;
    -moz-transition: left 0.4s, padding-top 0.4s;
    transition: left 0.4s, padding-top 0.4s;
}
#user-sidebar.active {
    right: auto;
    left: 0;
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    transition: left 0.4s;
}
#user-cover a img {
    margin-right: inherit;
    margin-left: 20px;
    float: right;
}
.user-cover-layer {
    left: 0;
    right: auto;
}
#user-sidebar nav ul {
    padding-left: inherit;
    padding-right: 0;
}
#user-sidebar nav ul li.menu-child a {
    padding-left: inherit;
    padding-right: 40px;
}
#user-sidebar nav ul li.menu-parent > a:before,
#user-sidebar nav ul li#logout-li > a:before {
    padding-right: 0;
    padding-left: 10px;
}
#user-sidebar nav ul li a i {
    padding-right: inherit;
    padding-left: 10px;
}
#user-sidebar nav ul li a span.count,
#user-sidebar nav ul li a span.no-count {
    margin-left: inherit;
    margin-right: 10px;
}
#user-sidebar nav ul li.menu-parent > a::after {
    right: auto;
    left: 40px;
}
#main-content.navigation-hidden,
#main-header.navigation-hidden,
#main-footer.navigation-hidden {
    padding-left: inherit;
    padding-right: 0;
}
body.rtl.menu-is-vertical #main-content:not(.navigation-hidden),
body.rtl.menu-is-vertical #main-header:not(.navigation-hidden),
body.rtl.menu-is-vertical #main-footer:not(.navigation-hidden){
    padding-left: 0 !important;
}
#main-header.navigation-hidden #navbar.navigation-fixed {
    left: inherit;
    right: 0;
}
body.menu-is-horizontal #navbar.navigation-fixed {
    right: 0;
}
#main-header.sidebar-hidden #navbar #nav-buttons a {
    padding: 2px 20px 0;
}
#main-content.sidebar-hidden #right-sidebar {
    right: inherit!important;
    left: -40% !important;
}
#main-content.navigation-hidden #right-sidebar {
    right: auto;
    padding-right: inherit;
    left: 0;
    padding-left: 0;
}
#right-sidebar {
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    transition: left 0.4s;
    right: auto;
    left: 0;
}
a#can-scroll {
    left: 0;
    right: auto;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 1) 100%);
}
.featured-layer {
    left: inherit;
    right: 0;
}
.breadcrumbs {
    left: inherit;
    right: 0;
}
#featuredbox.has-search form button,
#featuredbox.has-search form input[type="submit"] {
    margin-left: inherit;
    margin-right: 20px;
}
#content-container .dropcap {
    float: right;
    padding-left: 15px;
    padding-right: inherit;
}
#content-container .list-styled {
    padding-right: 20px;
    padding-left: inherit;
}
#content-container .list-styled li {
    padding: 5px 30px 5px 0;
}
#content-container .list-styled li::before {
    right: 0;
    left: inherit;
}
#content-container blockquote:before {
    float: left;
    margin: 0 0 -18px 10px;
}
#content-container .heading i {
    padding-right: inherit;
    padding-left: 10px;
}
#content-container .heading::before {
    left: inherit;
    right: 0;
}
#content-container .infobox p {
    text-align: right;
}
#content-container .infobox::before {
    right: -20px;
    left: inherit;
}
.progress span.progress-start {
    right: 20px;
    left: inherit;
}
.progress span.progress-current {
    left: inherit;
    right: 0;
}
.progress span.progress-current i {
    padding-right: inherit;
    padding-left: 10px;
}
.progress span.progress-end {
    right: auto;
    left: 20px;
}
input[type="submit"] {
    float: none;
}
.wpcf7-checkbox span.wpcf7-list-item,
.wpcf7-radio span.wpcf7-list-item {
    margin-left: 20px;
    margin-right: inherit;
}
.wpcf7-checkbox span.wpcf7-list-item label span,
.wpcf7-radio span.wpcf7-list-item label span {
    padding-left: inherit;
    padding-right: 40px;
}
.wpcf7-checkbox span.wpcf7-list-item-label:before,
.wpcf7-radio span.wpcf7-list-item-label:before {
    left: inherit;
    right: 0;
}
#dashboard .widget .box-title::after {
    right: 0;
    left: inherit;
}
#content-container .widget .intern-padding ul {
    padding-right: 0;
    padding-left: inherit;
}
.directory-map-box i.fa {
    padding-right: inherit;
    padding-left: 5px;
}
#directory-search form button {
    margin-right: 10px;
    margin-left: inherit;
}
#content-container .masonry-layout .box .box-title::after {
    left: inherit;
    right: 0;
}
#dashboard .widget .box-title h3:after,
#dashboard .widget.evoFC_Widget h3.widget-title:after{
    left: -0.5em;;
    margin-left: -50%;
    margin-right: auto;
}
#dashboard .widget .box-title h3:before,
#dashboard .widget.evoFC_Widget h3.widget-title:before{
    right: -0.5em;;
    margin-right: -50%;
    margin-left: auto;
}
.evofc_months_strip {
    float: left;
}
#content-container .masonry-layout .box .directory-item-fields ul .directory-item-field {
    padding-right: 35px;
    padding-left: inherit;
}
#content-container .masonry-layout .box .directory-item-fields ul .directory-item-field i {
    right: 0;
    left: inherit;
}
.directory-category,
.directory-comments {
    margin-right: inherit;
    margin-left: 10px;
}
.directory-category i,
.directory-comments i {
    padding-left: 8px;
    padding-right: inherit;
}
.bottom-map-location i {
    padding-left: 8px;
    padding-right: inherit;
}
.directory-item-fields ul li {
    padding-right: 45px;
    padding-left: inherit;
}
.directory-item-fields ul li i {
    right: 0;
    left: inherit;
}
.blog-button {
    text-align: left;
}
.post-metadatas li i {
    padding-right: inherit;
    padding-left: 8px;
}
.comment-list {
    padding-right: 0;
    padding-left: inherit;
}
.comment-list ol {
    padding-right: 80px;
    padding-left: inherit;
}
.comment-list .comment-author.vcard img {
    float: right;
    margin: 0px 0 0px 30px;
}
.comment-list .comment-content {
    padding-left: inherit;
    padding-right: 105px;
}
.comment-list .reply {
    text-align: left;
}
.comment-list .children li:before {
    right: -60px;
    left: inherit;
}
.wp-editor-container .quicktags-toolbar input[type="button"] {
    margin-right: inherit!important;
    margin-left: 5px !important;
}
#buddypress #item-header-avatar img {
    margin-left: 20px;
    margin-right: inherit;
    float: right;
}
#buddypress div#item-header div#item-header-content {
    margin-left: inherit;
    margin-right: 20px;
}
#content-container div.item-list-tabs ul li.current a span.no-count,
#content-container div.item-list-tabs ul li.current a span.count,
#content-container div.item-list-tabs ul li.current a span,
#content-container div.item-list-tabs ul li.selected a span,
#content-container div.item-list-tabs-wiki ul li.active a span,
#content-container div.item-list-tabs-project ul li.active a span,
#content-container div.item-list-tabs ul li a span.no-count,
#content-container div.item-list-tabs ul li a span.count,
#content-container div.item-list-tabs ul li a span,
#content-container div.item-list-tabs-wiki ul li a span,
#content-container div.item-list-tabs-project ul li a span {
    margin-right: 10px;
    left: 15px;
    margin-left: inherit;
    right: auto;
}
#content-container div.item-list-tabs ul li a,
#content-container div.item-list-tabs-wiki ul li a,
#content-container div.item-list-tabs-project ul li a {
    border-left: inherit;
    border-right-width: 1px;
    border-left-style: solid;
}
#content-container div.item-list-tabs ul li:last-child a,
#content-container div.item-list-tabs-wiki ul li:last-child a,
#content-container div.item-list-tabs-project ul li:last-child a {
    border-left-width: 1px;
    border-left-style: solid;
}
#content-container div.item-list-tabs ul li > a:before,
#content-container div.item-list-tabs-wiki ul li > a:before,
#content-container div.item-list-tabs-project ul li > a:before {
    padding-right: initial;
    padding-left: 0;
}
#buddypress {
    padding-bottom: 1px;
}
#buddypress div.item-list-tabs#subnav ul {
    text-align: right;
}
#buddypress div.item-list-tabs#subnav ul li:first-child a {
    border-radius: 0 5px 5px 0;
}
#buddypress .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-avatar img.FB_profile_pic,
#whats-new-avatar a img,
.activity-avatar a img,
#buddypress .item-avatar img {
    margin-right: 0;
    margin-left: inherit;
}
#buddypress .activity-list .activity-content {
    margin: 0 90px 0 0 !important;
}
#buddypress .activity-list .activity-content::before {
    left: auto;
    right: -8px;
    --content: "\f0da";
}
#buddypress .activity-list li.mini .activity-avatar img.avatar{
    margin-left: 30px !important;
    margin-right: 0 !important;
}
#buddypress div.activity-meta {
    text-align: left;
}
#buddypress div.item-list-tabs#subnav form input[type="submit"] {
    margin-right: 5%;
    margin-left: inherit;
    float: left;
}
#buddypress div#message::before,
#content-container div.wpcf7-response-output::before,
#bp-uploader-warning::before {
    left: inherit;
    right: -20px;
}
#buddypress div.item-list-tabs ul li.last select#notifications-sort-order-list {
    padding-left: 30px;
    padding-right: inherit;
}
#notifications-count-top {
    margin-right: 0;
    margin-left: inherit;
}
#buddypress .standard-form div.submit {
    text-align: left;
}
#buddypress .standard-form div.submit input {
    margin-left: 0;
    margin-right: inherit;
}
#buddypress .standard-form .datebox select {
    margin-left: 10px;
    margin-right: inherit;
}
#buddypress form#whats-new-form #whats-new-content {
    margin-right: 100px;
    margin-left: inherit;
}
#buddypress form#whats-new-form p.activity-greeting {
    margin-right: 120px;
    margin-left: inherit;
}
#content-container #buddypress div.activity-meta a.button {
    padding: 0 0 0 10px;
}
#buddypress a.bp-primary-action span,
#buddypress #reply-title small a span {
    margin-right: 10px;
    margin-left: inherit;
}
#buddypress #whats-new-options {
    text-align: left;
}
#buddypress div.pagination .pag-count {
    margin-left: inherit;
    margin-right: 0;
}
#buddypress .thread-from a {
    padding-left: inherit;
    padding-right: 10px;
}
table.profile-fields td.label {
    text-align: right;
}
#buddypress .item-list-tabs ul li.last:after {
    right: auto;
    left: 10px;
}
#buddypress ul#members-list li div.item-avatar span.member-role {
    right: auto;
    left: 10px;
}
#buddypress div#item-header.group-header div#item-header-content {
    margin: 40px 180px 0px 40px;
}
#members-map {
    left: inherit;
    right: 0;
}
#woffice-members-filter-btn .fa-caret-down {
    margin-right: 10px;
    margin-left: 0;
}
#woffice-members-filter .dropdown-menu {
    margin-right: 10px;
    margin-left: inherit;
}
a.project-head span {
    padding-right: inherit;
    padding-left: 10px;
}
a.project-head span:last-child {
    padding-left: 0;
    padding-right: inherit;
}
a.project-head span i {
    padding-left: 5px;
    padding-right: inherit;
}
.progress.project-progress span.progress-current {
    text-align: right;
    padding-left: inherit;
    padding-right: 10px;
}
#project-meta .col-md-4 {
    border-left: 1px;
    border-left-style: solid;
    border-right: inherit;
    float: right;
}
#project-meta .col-md-4:last-child {
    border-left: inherit;
    border-right: none;
}
ul.project-meta-list {
    padding-left: inherit;
    padding-right: 0;
}
ul.project-meta-list li {
    padding: 5px 40px 5px 0;
}
ul.project-meta-list li::before {
    left: inherit;
    right: 0;
}
#project-links {
    padding-left: inherit;
    padding-right: 0;
}
#project-links li i {
    padding-right: inherit;
    padding-left: 20px;
}
.woffice-task header label input {
    margin-right: inherit;
    margin-left: 20px;
}
.woffice-task header label .checkbox-style:before {
    left: inherit;
    right: 0;
}
.woffice-task header label .checkbox-style:after {
    left: inherit;
    right: 0;
}
.woffice-task header i.fa.fa-file-text-o {
    float: left;
}
.woffice-task header .woffice-todo-delete i.fa.fa-trash-o {
    float: left;
    padding-left: inherit;
    padding-right: 20px;
}
.woffice-task header span.todo-date {
    float: left;
}
.woffice-task header span i {
    padding-left: 5px;
    padding-right: inherit;
}
#woffice-add-todo .col-md-6 {
    text-align: left;
}
#woffice-add-todo .col-md-6 label {
    float: right;
    text-align: right;
}
.list-wiki .count.label .fa {
    padding-left: 3px;
    padding-right: inherit;
}
.list-styled.list-wiki a.featured:before {
    margin-left: 5px;
    margin-right: auto;
    right: 4px;
    left: auto;
}
#content-container .list-styled.list-wiki.collapsed-wiki li.sub-category > span:after,
#content-container .list-styled.list-wiki.collapsed-wiki li.sub-category > span[aria-expanded=false]:after {
    margin-right: 5px;
    margin-left: auto;
}
.widget .intern-box.box-title::after {
    left: inherit;
    right: 0;
}
.widget .intern-padding ul {
    padding-left: inherit;
    padding-right: 0;
}
.widget .intern-padding ul li {
    padding: 5px 35px 5px 0;
}
.widget .intern-padding ul li a:hover {
    padding-left: inherit;
    padding-right: 10px;
}
.widget .intern-padding ul li::before {
    left: auto;
    right: 0;
}
.widget_woffice_projects .progress span.progress-current i {
    padding-right: inherit;
    padding-left: 2px;
}
.widget_woffice_projects .progress.project-progress span.progress-current {
    padding-left: inherit;
    padding-right: 5px;
}
.widget.widget_search button {
    float: left;
}
#page-wrapper .widget.widget_woffice_funfacts .intern-padding .flexslider ul li::before {
    left: inherit;
    right: -10px;
}
.widget .intern-padding ul.birthdays-list li {
    padding-left: inherit;
    padding-right: 0;
}
.widget .intern-padding ul.birthdays-list li img {
    margin-right: inherit;
    margin-left: 10px;
    float: right;
}
.widget .intern-padding ul.birthdays-list li a:hover {
    padding-left: inherit;
    padding-right: 0;
}
.widget_nav_menu ul.sub-menu li {
    padding: 5px 20px 5px 0 !important;
}
.widget.buddypress li {
    padding-left: inherit !important;
    padding-right: 0 !important;
}
.widget.buddypress div.item-meta {
    margin-left: inherit;
    margin-right: 60px;
}
.widget.buddypress div.item-options a {
    border-right: inherit;
    border-left-width: 1px;
    border-left-style: solid;
}
.widget.buddypress div.item-options a:last-child {
    border-left: 0;
    border-right: inherit;
}
#extrafooter-layer {
    left: inherit;
    right: 0;
}
#extrafooter-layer h1::after {
    left: inherit;
    right: 0;
}
#extrafooter-layer ul {
    padding-left: inherit;
    padding-right: 0;
}
#widgets h3:after {
    left: inherit;
    right: 0;
}
#widgets .widget {
    border-right: inherit;
    border-left-width: 1px;
    border-left-style: solid;
}
#widgets .widget:last-child {
    border-right: inherit;
    border-left: none;
}
#widgets .widget ul {
    padding-left: inherit;
    padding-right: 0px;
}
#widgets .widget ul li {
    padding-left: inherit;
    padding-right: 30px;
}
#widgets .widget ul li a:hover {
    padding-right: 10px;
    padding-left: inherit;
}
#woffice-login-left {
    float: right;
}
#woffice-login .login-submit {
    text-align: left;
}
#woffice-login footer a {
    padding-left: inherit;
    padding-right: 10px;
}
#page-wrapper .social-login-btns .btn-default i {
    margin-right: inherit;
    margin-left: 10px;
}
.alignnone {
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 0 20px 20px;
}
.wp-caption.alignnone {
    margin: 5px 0 20px 20px;
}
#content-container #buddypress div.activity-meta a.button:first-child {
    border-radius: 0 5px 5px 0;
}
#content-container #buddypress div.activity-meta a.button:last-child {
    border-radius: 5px 0 0 5px;
}
#buddypress #message-threads thead tr th:first-child {
    border-radius: 0 5px 0 0;
}
#buddypress #message-threads thead tr th:last-child {
    border-radius: 5px 0 0 0;
}

/*==== END rtlize the theme style.css file ====*/

/*==== buddypress rtlize ====*/
#buddypress div.pagination {
    float: right;
}
#buddypress div.pagination .pag-count {
    float: right;
    margin-left: inherit;
    margin-right: 10px;
}
#buddypress div.pagination .pagination-links {
    float: left;
    margin-right: inherit;
    margin-left: 10px;
}
#buddypress .clear {
    clear: right;
}
#buddypress form#whats-new-form #whats-new-avatar {
    float: right;
}
#buddypress form#whats-new-form #whats-new-content {
    margin-right: 55px;
    margin-left: inherit;
    padding: 0 20px 20px 0;
}
#buddypress form#whats-new-form p.activity-greeting {
    margin-right: 75px;
    margin-left: inherit;
}
#buddypress form#whats-new-form #whats-new-submit {
    float: left;
}
#buddypress .activity-list .activity-avatar {
    float: right;
}
#buddypress .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-list li.mini .activity-avatar img.FB_profile_pic {
    margin-right: 30px;
    margin-left: inherit;
}
#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.FB_profile_pic {
    margin-right: 0;
    margin-left: inherit;
}
#buddypress .activity-list .activity-content {
    margin: 0 70px 0 0;
}
body.activity-permalink #buddypress .activity-list li .activity-content {
    margin-left: 0;
    margin-right: 170px;
}
#buddypress .activity-header {
    margin-left: 20px;
    margin-right: 20px;
}
#buddypress .activity-list .activity-content .activity-header img.avatar {
    float: none !important;
    margin: 0 0 -8px 5px !important;
}
#buddypress a.bp-secondary-action,
#buddypress span.highlight {
    margin-right: 5px;
}
#buddypress .activity-list li.new_forum_post .activity-content .activity-inner,
#buddypress .activity-list li.new_forum_topic .activity-content .activity-inner {
    border-left: inherit;
    border-right-width: 2px;
    border-right-style: solid;
    margin-left: inherit;
    margin-right: 5px;
    padding-left: inherit;
    padding-right: 10px;
}
.activity-list li.bbp_topic_create .activity-content .activity-inner, .activity-list li.bbp_reply_create .activity-content .activity-inner {
    border-right-width: 2px;
    border-right-style: solid;
    padding-right: 10px;
    margin-right: 30px !important;
    border-left: 0;
}
body.activity-permalink #buddypress .activity-content .activity-inner,
body.activity-permalink #buddypress .activity-content blockquote {
    margin-right: 0;
    margin-left: inherit;
}
#buddypress .activity-list .activity-content img.thumbnail {
    float: right;
    margin: 0 0 5px 10px;
}
#buddypress .activity-read-more {
    margin-right: 1em;
    margin-left: inherit;
}
#buddypress a.bp-primary-action span,
#buddypress #reply-title small a span {
    margin-right: 2px;
    margin-left: inherit;
}
body.activity-permalink #buddypress div.activity-comments {
    margin-right: 170px;
    margin-left: inherit;
}
#buddypress div.activity-comments > ul {
    padding: 0 10px 0 0;
}
#buddypress div.activity-comments ul li > ul {
    margin-left: inherit;
    margin-right: 30px;
    padding-left: inherit;
    padding-right: 10px;
}
body.activity-permalink #buddypress div.activity-comments > ul {
    padding: 0 15px 0 10px;
}
#buddypress div.activity-comments div.acomment-avatar img {
    float: right;
    margin-left: 10px;
    margin-right: inherit;
}
#buddypress div.activity-comments div.acomment-content {
    margin: 5px 40px 0 0;
}
#buddypress div.activity-comments li form.ac-form {
    margin-left: 15px;
    margin-right: inherit;
}
#buddypress div.activity-comments form.root {
    margin-right: 0;
    margin-left: inherit;
}
#buddypress div.activity-comments form div.ac-reply-avatar {
    float: right;
}
#buddypress div.activity-comments form div.ac-reply-content {
    margin-right: 50px;
    margin-left: inherit;
    padding-right: 15px;
    padding-left: inherit;
}
#buddypress .acomment-options {
    float: right;
    margin: 5px 40px 5px 0;
}
#buddypress div.dir-search {
    float: left;
}
#buddypress div#message.error p {
    clear: right;
}
#buddypress #pass-strength-result {
    margin: 5px 0 5px 5px;
}
#buddypress div.accept,
#buddypress div.reject {
    float: right;
    margin-left: inherit;
    margin-right: 10px;
}
#buddypress ul.button-nav li {
    float: right;
    margin: 0 0 10px 10px;
}
#sitewide-notice #message {
    right: 2%;
    left: inherit;
}
#buddypress .standard-form#signup_form div.submit {
    float: left;
}
#buddypress div#signup-avatar img {
    margin: 0 0 10px 15px;
}
#buddypress .standard-form div.submit input {
    margin-left: 15px;
    margin-right: inherit;
}
#buddypress .standard-form div.radio ul {
    margin: 10px 38px 15px 0;
}
#buddypress .standard-form #basic-details-section,
#buddypress .standard-form #blog-details-section,
#buddypress .standard-form #profile-details-section {
    float: right;
}
#buddypress .standard-form #profile-details-section {
    float: left;
}
#buddypress .standard-form #blog-details-section,
#buddypress #notifications-bulk-management {
    clear: right;
}
#buddypress form.standard-form .left-menu {
    float: right;
}
#buddypress form.standard-form .left-menu #invite-list ul li {
    margin: 0 1% 0 0;
}
#buddypress form.standard-form .main-column {
    margin-left: inherit;
    margin-right: 190px;
}
#buddypress form.standard-form .main-column ul#friend-list {
    float: right;
}
#buddypress ul#topic-post-list li div.post-content {
    margin-left: inherit;
    margin-right: 54px;
}
#buddypress div.admin-links {
    right: auto;
    left: 25px;
}
#buddypress div#topic-meta div.admin-links {
    left: 19px;
    right: auto;
}
#buddypress table.notifications tr td.label,
#buddypress table.notifications-settings tr td.label,
#buddypress table.profile-fields tr td.label,
#buddypress table.wp-profile-fields tr td.label,
#buddypress table.messages-notices tr td.label,
#buddypress table.forum tr td.label {
    border-right: inherit;
    border-left-width: 1px;

}
#buddypress table.notifications tr.alt td,
#buddypress table.notifications-settings tr.alt td,
#buddypress table.profile-settings tr.alt td,
#buddypress table.profile-fields tr.alt td,
#buddypress table.wp-profile-fields tr.alt td,
#buddypress table.messages-notices tr.alt td,
#buddypress table.notification-settings {
    text-align: right;
}
#buddypress table.forum tr.closed td.td-title {
    padding-right: 35px;
    padding-left: inherit;
}
#buddypress table.forum tr > td:first-child,
#buddypress table.forum tr > th:first-child {
    padding-right: 15px;
    padding-left: inherit;
}
#buddypress table.forum tr > td:last-child,
#buddypress table.forum tr > th:last-child {
    padding-left: 15px;
    padding-right: inherit;
}
#buddypress table.forum tr th#th-title,
#buddypress table.forum tr th#th-poster,
#buddypress table.forum tr th#th-group,
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group,
#buddypress table.forum td.td-title {
    text-align: right;
}
#buddypress table.forum td img.avatar {
    float: none;
    margin: 0 0 -8px 5px;
}
#buddypress div#item-header div#item-header-content {
    float: right;
}
#buddypress div#item-header img.avatar {
    float: right;
    margin: 0 0 19px 15px;
}
#buddypress div#item-header h2 span.highlight span {
    left: -2px;
    right: auto;
}
#buddypress div#item-header div#item-actions {
    float: left;
    margin: 0 15px 15px 0;
    text-align: left;
}
#buddypress div#item-header ul li {
    float: left;
}
#buddypress div#item-header div.generic-button,
#buddypress div#item-header a.button {
    float: right;
    margin: 10px 0 0 10px;
}
#buddypress ul.item-list li img.avatar {
    float: right;
    margin: 0 0 0 10px;
}
#buddypress ul.item-list li div.item-desc {
    margin: 10px 60px 0 0;
}
#buddypress ul.item-list li div.action {
    left: 0;
    right: auto;
    text-align: left;
}
#buddypress ul.item-list li h5 span.small {
    float: right;
}
#buddypress div.item-list-tabs {
    clear: right;
}
#buddypress div.item-list-tabs ul li.last {
    float: left;
}
#buddypress div.item-list-tabs ul li a span {
    margin-right: 2px;
    margin-left: inherit;
}
#buddypress div#message-thread img.avatar {
    float: right;
    margin: 0 0 0 10px;
}
#buddypress div#message-thread div.message-content {
    margin-right: 45px;
    margin-left: inherit;
}
#buddypress div#message-thread div.message-options {
    text-align: left;
}
#buddypress div.message-search {
    float: left;
}
.widget.buddypress div.item-avatar img.avatar {
    float: right;
    margin: 0 0 10px 10px;
}
.widget.buddypress div.item-meta,
.widget.buddypress div.item-content {
    margin-right: 50px;
    margin-left: inherit;
}
.widget.buddypress ul.item-list img.avatar {
    margin-left: 10px;
    margin-right: inherit;
}
.widget.buddypress #bp-login-widget-form #bp-login-widget-submit {
    margin-left: 10px;
    margin-right: inherit;
}
.widget.buddypress .bp-login-widget-user-avatar {
    float: right;
}
.widget.buddypress .bp-login-widget-user-links > div {
    padding-right: 60px;
    padding-left: inherit;
}
@media only screen and (max-width: 480px) {
    #buddypress div.dir-search {
        float: left;
        text-align: left;
    }
    a.bp-title-button {
        margin-right: 10px;
        margin-left: inherit;
    }
}
@media only screen and (max-width: 320px) {
    #buddypress div.dir-search {
        clear: right;
        float: right;
        text-align: right;
    }
    #buddypress li#groups-order-select {
        clear: right;
        float: right;
    }
    #buddypress ul.item-list li div.action {
        clear: right;
        float: right;
        margin-right: 70px;
        margin-left: inherit;
        right: auto;
        left: 0;
        text-align: right;
    }
    #buddypress ul.item-list li div.item-desc {
        clear: right;
        float: right;
    }
    #buddypress li div.item {
        margin-right: 70px;
        margin-left: inherit;
    }
    #buddypress div.pagination .pag-count {
        margin-right: 0;
        margin-left: inherit;
    }
}
@media only screen and (max-width: 240px) {
    #buddypress div.dir-search {
        float: right;
    }
    #buddypress li#groups-order-select {
        float: right;
    }
    #buddypress ul.item-list li div.action,
    #buddypress li div.item {
        margin-right: 45px;
        margin-left: inherit;
    }
    h1 a.bp-title-button {
        clear: right;
        float: right;
    }
}

/*==== END buddypress rtlize ====*/

/*==== plugins rtlize ====*/

/****** Vahid: trello, gravity forms, BuddyPress Activity Plus, wise chat, MV FILE SHARING, Rtmedia, GANTT, FLEXSLIDER are not included! So if you installed any of these, you should rtlize (!) the css related to that plugin */

/* bbpress */
.bbp-reply-post-date i {
    padding-right: 0;
    padding-left: 8px;
    vertical-align: -2px;
}

/* SEARCH AUTOCOMPLETE */
.ui-autocomplete.ui-front.ui-menu li {
    float: right;
    clear: right;
}

/* WOOCOMMERCE STUFF */
.woocommerce div.product .woocommerce-product-rating {
    float: left;
    text-align: left;
}
.woocommerce div.product form.cart div.quantity {
    margin: 0 0 0 20px;
}
.woocommerce #content-container .single_add_to_cart_button.button[type="submit"] i {
    padding-right: inherit;
    padding-left: 10px;
}
.woocommerce #content-container div.product p.price .amount:after {
    right: auto;
    left: 100%;
}
.woocommerce #content-container div.product p.price del .amount:after {
    right: auto;
    left: 0;
}
#woffice-minicart-top {
    left: 0;
    right: auto;
}
ul.woffice-minicart-top-products {
    padding-left: inherit;
    padding-right: 0;
}
span.woffice-mini-cart-thumbnail {
    float: right;
    margin-right: inherit;
    margin-left: 15px;
}
#page-wrapper #woffice-minicart-top .cart.btn.btn-default {
    margin-left: 10px;
    margin-right: inherit;
}
#nav-cart-trigger .amount {
    margin-left: inherit;
    margin-right: 4px;
}
#coupon_code {
    margin-left: 20px;
    margin-right: inherit;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
    padding-left: inherit;
    padding-right: 20px;
}
.widget .intern-padding ul li a.remove:hover {
    padding-right: 0;
    padding-left: inherit;
}
.woocommerce-shortcode .woocommerce .flex-next,
.woocommerce-shortcode .flexslider:hover .woocommerce .flex-next {
    left: 4px;
    right: auto;
}
.woocommerce-shortcode .woocommerce .flex-prev,
.woocommerce-shortcode .flexslider:hover .woocommerce .flex-prev {
    right: 4px;
    left: inherit;
}
.woocommerce-shortcode .woocommerce .flex-direction-nav a.flex-next:hover {
    left: 0px !important;
    right: inherit!important;
}
.woocommerce-shortcode .woocommerce .flex-direction-nav a.flex-prev:hover {
    right: 0px !important;
    left: inherit!important;
}
.woocommerce-shortcode .woocommerce .flex-direction-nav a.flex-next:before {
    left: -2px;
    right: auto;
}
.woocommerce-shortcode .woocommerce .flex-direction-nav a.flex-prev:before {
    right: -2px;
    left: inherit;
}

/*==== END plugins rtlize ====*/

/*==== responsive rtlize ====*/
@media only screen and (max-width: 992px) {
    #user-sidebar {
        left: -350px;
        right: auto;
    }
    #main-content.sidebar-hidden #right-sidebar {
        right: inherit!important;
        left: -650px !important;
    }
    #main-content,
    #main-footer {
        padding-right: 0 !important;
        padding-left: inherit !important;
    }
    #content-container div.item-list-tabs ul li a span {
        right: inherit !important;
        left: 5px !important;
    }
}
@media only screen and (max-width: 600px) {
    #navbar.navigation-fixed {
        padding-right: inherit;
        padding-left: 0;
    }
}
@media only screen and (max-width: 450px) {
    #nav-left {
        text-align: right;
    }

    #main-header:not(.navigation-hidden) {
        padding-right: 0 !important;
    }
    #main-header #navbar.navigation-fixed {
        padding-right: 0 !important;
        right: 0 !important;
    }

    body.rtl #navigation {
        right: 0 !important;
    }
    body.rtl #navigation.navigation-hidden {
        display: none;
    }

    #nav-logo {
        display: none;
    }
}

/*==== END responsive rtlize ====*/

/*==== woocommerce plugin rtlize ====*/
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 { float: right }
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 { float: left }
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images { float: right }
.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
    float: right;
    margin-right: inherit; margin-left: 3.8%;
}
.woocommerce #content div.product div.thumbnails a.last, .woocommerce div.product div.thumbnails a.last, .woocommerce-page #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last { margin-right: inherit; margin-left: 0 }
.woocommerce #content div.product div.thumbnails.columns-1 a, .woocommerce div.product div.thumbnails.columns-1 a, .woocommerce-page #content div.product div.thumbnails.columns-1 a, .woocommerce-page div.product div.thumbnails.columns-1 a {
    margin-right: inherit; margin-left: 0;
    float: none;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary { float: left }
.woocommerce #content div.product #reviews .comment img, .woocommerce div.product #reviews .comment img, .woocommerce-page #content div.product #reviews .comment img, .woocommerce-page div.product #reviews .comment img { float: left }
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: right;
    margin: 0 0 2.992em 3.8%;
}
.woocommerce ul.products li.last, .woocommerce-page ul.products li.last { margin-right: inherit; margin-left: 0 }
.woocommerce-page.columns-1 ul.products li.product, .woocommerce.columns-1 ul.products li.product { margin-right: inherit; margin-left: 0 }
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count { float: right }
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering { float: left }
.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions { text-align: left }
.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon { float: right }
.woocommerce .cart-collaterals .related, .woocommerce-page .cart-collaterals .related { float: right }
.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells { float: right }
.woocommerce .cart-collaterals .cross-sells ul.products, .woocommerce-page .cart-collaterals .cross-sells ul.products { float: none }
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
    clear: left;
    float: left;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals { float: left }
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img { float: left }
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last { float: right }
.woocommerce #payment #place_order, .woocommerce form .form-row-last, .woocommerce-page #payment #place_order, .woocommerce-page form .form-row-last { float: left }
.woocommerce #payment .terms, .woocommerce-page #payment .terms {
    text-align: right;
}
/*==== END woocommerce plugin rtlize ====*/

/************** other rtl css codes ********************/
div#woffice-login-right input {
    direction: ltr;
}
div#woffice-login-right input#reg-fname, div#woffice-login-right input#reg-lname, div#woffice-login-right input#reg_captcha {
    direction: rtl;
}
/*
#main-content,
#main-header,
#main-footer {
    padding-left: inherit !important;
    padding-right: 0px;
}*/
#nav-left {
    right: initial;
    left: initial;
}
#nav-user.active #user-close {
    height: 60px;
    padding: 3px 5px 0;
}
/*#navigation.navigation-hidden {
    right: -100px;
}*/
#navbar.navigation-fixed {
    left: 0 !important;
    right: 100px;
}

.woffice-xprofile-list span i {
    margin-right: 0;
    margin-left: 10px;
}

/* wiki like button */
.wiki-like-container {
    text-align: left;
}
.wiki-like-container p.wiki-like span.count {
    margin-left: 0;
    margin-right: 8px;
}
.wiki-like-container {
    text-align: left;
}
.chozed-container .chozed-drop {
    left: 0 !important;
    display: none !important
}

.chozed-container.chozed-with-drop .chozed-drop {
    display: block !important
}
#page-wrapper .btn.btn-default i, #content-container #bbpress-forums button[type="submit"] i {
    padding-right: 0;
    margin-left: 5px;
}
@media (min-width: 768px) {
    .fw-col-sm-1, .fw-col-sm-2, .fw-col-sm-3, .fw-col-sm-4, .fw-col-sm-5, .fw-col-sm-6, .fw-col-sm-7, .fw-col-sm-8, .fw-col-sm-9, .fw-col-sm-10, .fw-col-sm-11, .fw-col-sm-12, .fw-col-sm-15 {
    float: right;
}
}
.bbp-forum-title::before, .bbp-header .bbp-forum-info::before {
    position: absolute;
    padding-right: 0;
    right: 0;
}

#woffice-notifications-menu{
    right: auto;
    left: 0;
    border-radius: 0 5px 0 0px;
}
.woffice-notifications-item img{
    margin-right: 0px;
    margin-left: 20px;
    left: auto;
    right: -45px;
}
.woffice-notifications-item .fa.component-icon{
    float: left;
    margin-right: 5px;
    margin-left: 30px;
}
.woffice-notifications-item span{
    margin-right: 0;
    margin-left: 10px;
}
.woffice-notifications-item a.mark-notification-read{
    right: auto;
    left: 0;

}


/** LearnDash **/
#content-container .learndash .completed:after, #content-container #learndash_profile .completed:after,
#content-container .learndash .notcompleted:after, #content-container #learndash_profile .notcompleted:after {
    right: auto;
    left: 14px;
}
.metadatas-footer .post-metadatas {
    text-align: right;
    padding-left: 40px;
    padding-right: 0;
    margin-left: auto;
    margin-right: -5px;
}
/** /LearnDash **/

/*==== END other rtl css codes ====*/

/*==== END RTLize ====*/