/*---------------------------------------------------------
**
** LOGIN PAGE
**
----------------------------------------------------------*/
#woffice-login-left{
  width: 50%;
  height: 100%;
  float: left;
}
#woffice-login-right{
  position: relative;
  width: 50%;
  padding: 50px 10% 0 10%;
  background: #FFF;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-shadow: 0px 1px 30px rgba(0,0,0,.1);
  -moz-box-shadow: 0px 1px 30px rgba(0,0,0,.1);
  -ms-box-shadow: 0px 1px 30px rgba(0,0,0,.1);
  box-shadow: 0px 1px 30px rgba(0,0,0,.1);
}
#login-logo{
  display: block;
  margin: 0 auto 40px auto;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
#woffice-login {
  display: block;
  width: 100%;
  height: 100%;
  header p{text-align: center;}
  form {
    label {
      margin-bottom: 0;
      font-weight: 500;
      width: 100%;
    }
    p.login-username, p.login-password{
      position: relative;
      input{
        padding-left: 40px;
      }
      &:after{
        font-family: "FontAwesome";
        position: absolute;
        font-size: 20px;
        left: 15px;
        bottom: 10px;
        color: #b5b5b5;
      }
    }
    p.login-username:after{
      content: "\f007";
    }
    p.login-password:after{
      content: "\f023";
    }
    .login-remember {
      input[type=checkbox] {
        width: 30px;
        box-shadow: none;
      }
    }
    .login-submit {
      input {
        margin: 0 0 40px 0;
        border: 0 !important;
        float: none !important;
        &:focus {
          margin: 0 0 40px 0;
          border: 0 !important;
          float: none !important;
        }
      }
    }
  }
  .login-submit {
    text-align: right;
  }
  footer {
    text-align: center;
    font-style: italic;
    a {
      padding-left: 10px;
      img {
        width: 40px;
      }
    }
  }
}
/*REGISTER FORM*/
#register-wrapper{
  text-align: center;
  margin-top: -20px;
}
// Strength
.form-group {
  #pass-strength-result{
    background: $brand-danger;
    margin-top: 16px;
    padding:10px;
    border-radius: 3px;
    font-size: 13px;
    color: #fff;
    @include transition(background, 0.5s, ease-in-out);
    display: none;
    &.short,&.bad,&.good,&.strong{
      display: block;
      @include transition(background, 0.5s, ease-in-out);
    }
    &.bad{
      background: lighten($brand-danger, 20%);
    }
    &.good{
      background: darken($brand-success, 20%);
    }
    &.strong{
      background: $brand-success;
    }
  }
}

#goback-trigger{text-align: center;}
#register-form h4{margin-top: 40px;}
#content-container #register-form .form-group .datebox label{ display: block; }
#content-container #register-form .form-group .datebox select{
  display: inline-block;
  width: 30%;
  margin: 10px 5px;
}
/*PASSWORD LOST*/
a.password-lost{
  position: relative;
  top: -90px;
  font-style: italic;
}
/*Social Login*/
#page-wrapper {
  .social-login-btns {
    .btn-default {
      display: block;
      padding: 15px 20px 12px 20px;
      margin-top: 20px;
      border-radius: 5px;
      white-space: normal;
      i {
        font-size: 1.6em;
        position: relative;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
    a.glogin-btn.btn-default {
      background: #dd4b39 !important;
    }
    a.facebook-btn.btn-default {
      background: #3b5998 !important;
    }
  }
  .social-login-btns.two-btns {
    text-align: center;
    .btn-default {
      margin: 5px;
      width: 46%;
      display: inline-block;
    }
  }
}

#success-register { margin-top: -50px !important;}

.after-glogin {
  text-align: center;
  span {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    background-color: #FFF;
    position: relative;
    z-index: 1;
  }
  hr {
    margin: 0;
    position: relative;
    top: 22px;
    z-index: 0;
  }
}
/*RevSlider*/
#woffice-login.revslider-enabled{
  background-color: initial;
  #woffice-login-left{
    background: transparent;
    opacity: 1;
  }
}
/*Second layout : */
body.layout-2 #woffice-login {
  height: auto;
  min-height: 100%;
  padding: 1px;
}

body.layout-2 #woffice-login-left {
  width: 100%;
  height: 100%;
  float: none;
  position: fixed;
  z-index: 1;
}

body.layout-2 #woffice-login-right {
  width: 40%;
  padding: 35px 3% 25px 3%;
  margin: 50px auto 50px;
  height: auto;
  max-height: none;
  overflow: visible;
  border-radius: 5px;
  position: relative;
  z-index: 10;
}